.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

body {
  background-color: #042f4b;
  margin: 0;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4.5rem;
  color: #4ecca3;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 100%;
}

.bottom {
  padding-top: 30px;
}

.butn {
  background: #4ecca3;
  background-image: -webkit-linear-gradient(top, #01060a, #285570);
  background-image: -moz-linear-gradient(top, #01060a, #285570);
  background-image: -ms-linear-gradient(top, #01060a, #285570);
  background-image: -o-linear-gradient(top, #01060a, #285570);
  background-image: linear-gradient(to bottom, #01060a, #285570);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  font-family: "Indie Flower", cursive;
  border-radius: 7px;
  color: #ffff;
  font-size: 30px;
  padding: 16px 25px 16px 25px;
  text-decoration: none;
}

.butn:hover {
  background: #232931;
  background-image: -webkit-linear-gradient(top, #09283b, #3498db);
  background-image: -moz-linear-gradient(top, #09283b, #3498db);
  background-image: -ms-linear-gradient(top, #09283b, #3498db);
  background-image: -o-linear-gradient(top, #09283b, #3498db);
  background-image: linear-gradient(to bottom, #09283b, #3498db);
  text-decoration: none;
}

footer {
  margin-top: 0.5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.bottom-container {
  padding: 15px 0 10px;
}

.footer-link {
  color: #11999e;
  margin-right: 20px;
}

.copyright {
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 0 5px;
  font-family: "Merriweather", serif;
}

p .copyright {
  font-size: 1em;
  font-family: "Merriweather", serif;
  padding: 0px;
  margin: 0;
}

a:hover {
  color: #eaf6f6;
}
